@font-face {
    font-family: SukhumvitSet;
    src: url('/font/SukhumvitSet.ttc');
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: SukhumvitSet !important;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #003b6f;
}


/*  Swiper  */

.swiper-container {
    width: 689px;
    height: 310px;
}

.calendar_div .swiper-container {
    width: 283px;
    height: fit-content;
    margin-bottom: 10px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.calendar_div .swiper-pagination {
    transform: translateY(-27px);
}


/*  Swiper  */

.padding_body {
    /* padding-left: 285px;
    padding-right: 285px; */
    padding-left: 270px;
    padding-right: 270px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.padding_footer {
    padding-left: 145px;
    padding-right: 325px;
}

.nav_style {
    padding-left: 260px;
    padding-right: 260px;
}


/* Index */

.btn_popular {
    width: 285px;
    height: auto;
    margin: 0 22px 22px 0;
}

.calendar_div {
    width: 285px;
    max-height: 600px;
    margin: 0 22px 22px 0;
}

.card_div_left {
    width: 136px;
    height: 144px;
    margin: 0 10px 10px 0;
    object-fit: contain;
}

.img_left_home {
    width: 136px;
    height: 144px;
    margin: 0 10px 10px 0;
    object-fit: contain;
    cursor: pointer;
}

.middle_index {
    width: 689px;
    height: 310px;
    /* margin: 0 22px 10px 0; */
}

.end_index {
    width: 373px;
    height: 289px;
    object-fit: contain;
    box-shadow: 2px 3px 10px 1px rgba(0, 0, 0, 0.18);
    background-color: #ff7c7a;
}

#icon_ads {
    margin-left: 22px;
    margin-top: 25px;
}

.ads {
    width: 84px;
    height: 41px;
    margin: 16px 0px 0px 5px;
    font-family: SukhumvitSet;
    font-size: 26px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

#date_ads {
    width: 97px;
    height: 32px;
    margin: 8px 208px 145px 1px;
    font-family: SukhumvitSet;
    font-size: 14px;
    font-weight: bolder;
    /* font-stretch: normal;
    font-style: normal; */
    line-height: 2.29;
    /* letter-spacing: normal; */
    color: #ffffff;
}

#title_ads {
    width: 295px;
    height: 84px;
    margin: 38px 7px 63px 1px;
    font-family: SukhumvitSet;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #ffffff;
}

#by {
    width: 290px;
    height: 32px;
    margin: 45px 0px 0 0px;
    font-family: SukhumvitSet;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.schedule_calendar_span {
    width: 143px;
    height: 37px;
    margin: 0 24px 15px 10px;
    font-family: SukhumvitSet;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4f72e5;
}

.knowledgeCenter {
    width: 689px;
    /* height: 1112px; */
    max-height: fit-content;
    padding: 16px 16px 16px 16px;
    background-color: #ffffff;
    transform: translateY(-15.2%);
}

.three_dots {
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis
}

.logo_blue_knowledge {
    max-width: 100%;
    max-height: fit-content;
    margin: 0 15px 0 0;
    padding: 18px 13px 17px 14px;
    object-fit: contain;
    border-radius: 2px;
    background-color: #96cfee;
}

.logo_violet_knowledge {
    max-width: 100%;
    max-height: fit-content;
    margin: 0 15px 0 0;
    padding: 18px 13px 17px 14px;
    object-fit: contain;
    border-radius: 2px;
    background-color: #a4b6f0;
}

.logo_pink_knowledge {
    max-width: 100%;
    max-height: fit-content;
    margin: 0 15px 0 0;
    padding: 18px 13px 17px 14px;
    object-fit: contain;
    border-radius: 2px;
    background-color: #e9bdee;
}

.link_text {
    font-family: SukhumvitSet;
    font-size: 10px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
}

.content_knowledge {
    line-height: 1.36;
}

.content_knowledge span {
    font-family: SukhumvitSet;
    font-size: 14px;
    font-weight: bolder;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}

.by_knowledge {
    list-style: 2;
}

.by_knowledge div span {
    font-family: SukhumvitSet;
    font-size: 10px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}

.rating_blog {
    padding: 0px 13px 0 5px;
}

#blog_profile {
    width: 40px;
    height: 40px;
    margin: 8px 0px 0px 0px;
    object-fit: contain;
    border: solid 2px #ffffff;
    border-radius: 50%;
}

.text_highlight {
    font-family: SukhumvitSet;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    color: #4a4a4a;
}

.rating_highlight {
    padding: 0px 4px 0 2px;
}

.files_popular {
    width: 294px;
    height: 390px;
    margin-top: 22px;
    background-color: pink;
    transform: translateY(-131.2%);
}

.Board {
    width: 373px;
    height: fit-content;
    object-fit: contain;
    margin: 6px 0px 10px 13px;
    padding: 9px 16px;
    box-shadow: 2px 3px 10px 1px rgba(0, 0, 0, 0.18);
    background-color: #4965bd;
    transform: translateY(-179px);
}

.lineUp_Blog {
    width: 1px;
    height: 26px;
    margin: 0px 10px 0px 10px;
    border: solid 0.5px #ffffff;
}

.rating_Board {
    padding: 10px 8px 7px 0px;
}

.survay_form {
    width: 372px;
    height: fit-content;
    padding: 16px 8px;
    background-color: pink;
    transform: translate(716px, -390px);
}

.lineUp_survay {
    width: 1px;
    height: 26px;
    margin: 0px 10px 0px 10px;
    border: solid 0.5px #ffffff;
}
